In [1]:
import pandas as pd
import numpy as np

# Reading and cleaning dataset

In [2]:
# Change from scientific to custom format

pd.options.display.float_format = '{:,.1f}'.format

In [3]:
# We need to skip first 4 rows of dataset (information not relevant)

df_pob = pd.read_csv('db/WorldBankPopulation.csv', skiprows=4)
df_pob

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,"Population, total",SP.POP.TOTL,"54,211.0","55,438.0","56,225.0","56,695.0","57,032.0","57,360.0",...,"102,560.0","103,159.0","103,774.0","104,341.0","104,872.0","105,366.0","105,845.0","106,314.0",NaN,NaN
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,"8,996,973.0","9,169,410.0","9,351,441.0","9,543,205.0","9,744,781.0","9,956,320.0",...,"31,161,376.0","32,269,589.0","33,370,794.0","34,413,603.0","35,383,128.0","36,296,400.0","37,172,386.0","38,041,754.0",NaN,NaN
2,Angola,AGO,"Population, total",SP.POP.TOTL,"5,454,933.0","5,531,472.0","5,608,539.0","5,679,458.0","5,735,044.0","5,770,570.0",...,"25,107,931.0","26,015,780.0","26,941,779.0","27,884,381.0","28,842,484.0","29,816,748.0","30,809,762.0","31,825,295.0",NaN,NaN
3,Albania,ALB,"Population, total",SP.POP.TOTL,"1,608,800.0","1,659,800.0","1,711,319.0","1,762,621.0","1,814,135.0","1,864,791.0",...,"2,900,401.0","2,895,092.0","2,889,104.0","2,880,703.0","2,876,101.0","2,873,457.0","2,866,376.0","2,854,191.0",NaN,NaN
4,Andorra,AND,"Population, total",SP.POP.TOTL,"13,411.0","14,375.0","15,370.0","16,412.0","17,469.0","18,549.0",...,"82,427.0","80,774.0","79,213.0","78,011.0","77,297.0","77,001.0","77,006.0","77,142.0",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"Population, total",SP.POP.TOTL,"947,000.0","966,000.0","994,000.0","1,022,000.0","1,050,000.0","1,078,000.0",...,"1,807,106.0","1,818,117.0","1,812,771.0","1,788,196.0","1,777,557.0","1,791,003.0","1,797,085.0","1,794,248.0",NaN,NaN
260,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,"5,315,355.0","5,393,036.0","5,473,671.0","5,556,766.0","5,641,597.0","5,727,751.0",...,"24,473,178.0","25,147,109.0","25,823,485.0","26,497,889.0","27,168,210.0","27,834,821.0","28,498,687.0","29,161,922.0",NaN,NaN
261,South Africa,ZAF,"Population, total",SP.POP.TOTL,"17,099,840.0","17,524,533.0","17,965,725.0","18,423,161.0","18,896,307.0","19,384,841.0",...,"52,834,005.0","53,689,236.0","54,545,991.0","55,386,367.0","56,203,654.0","57,000,451.0","57,779,622.0","58,558,270.0",NaN,NaN
262,Zambia,ZMB,"Population, total",SP.POP.TOTL,"3,070,776.0","3,164,329.0","3,260,650.0","3,360,104.0","3,463,213.0","3,570,464.0",...,"14,465,121.0","14,926,504.0","15,399,753.0","15,879,361.0","16,363,507.0","16,853,688.0","17,351,822.0","17,861,030.0",NaN,NaN
263,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,"3,776,681.0","3,905,034.0","4,039,201.0","4,178,726.0","4,322,861.0","4,471,177.0",...,"13,115,131.0","13,350,356.0","13,586,681.0","13,814,629.0","14,030,390.0","14,236,745.0","14,439,018.0","14,645,468.0",NaN,NaN

In [4]:
df_pob.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 66 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1960            260 non-null    float64
 5   1961            260 non-null    float64
 6   1962            260 non-null    float64
 7   1963            260 non-null    float64
 8   1964            260 non-null    float64
 9   1965            260 non-null    float64
 10  1966            260 non-null    float64
 11  1967            260 non-null    float64
 12  1968            260 non-null    float64
 13  1969            260 non-null    float64
 14  1970            260 non-null    float64
 15  1971            260 non-null    float64
 16  1972            260 non-null    float64
 17  1973            260 non-null    float64
 18  1974            260 non-null    float64
 19  1975            260 non-null    float64
 20  1976            260 non-null    float64
 21  1977            260 non-null    float64
 22  1978            260 non-null    float64
 23  1979            260 non-null    float64
 24  1980            260 non-null    float64
 25  1981            260 non-null    float64
 26  1982            260 non-null    float64
 27  1983            260 non-null    float64
 28  1984            260 non-null    float64
 29  1985            260 non-null    float64
 30  1986            260 non-null    float64
 31  1987            260 non-null    float64
 32  1988            260 non-null    float64
 33  1989            260 non-null    float64
 34  1990            262 non-null    float64
 35  1991            262 non-null    float64
 36  1992            261 non-null    float64
 37  1993            261 non-null    float64
 38  1994            261 non-null    float64
 39  1995            262 non-null    float64
 40  1996            262 non-null    float64
 41  1997            262 non-null    float64
 42  1998            263 non-null    float64
 43  1999            263 non-null    float64
 44  2000            263 non-null    float64
 45  2001            263 non-null    float64
 46  2002            263 non-null    float64
 47  2003            263 non-null    float64
 48  2004            263 non-null    float64
 49  2005            263 non-null    float64
 50  2006            263 non-null    float64
 51  2007            263 non-null    float64
 52  2008            263 non-null    float64
 53  2009            263 non-null    float64
 54  2010            263 non-null    float64
 55  2011            263 non-null    float64
 56  2012            262 non-null    float64
 57  2013            262 non-null    float64
 58  2014            262 non-null    float64
 59  2015            262 non-null    float64
 60  2016            262 non-null    float64
 61  2017            262 non-null    float64
 62  2018            262 non-null    float64
 63  2019            262 non-null    float64
 64  2020            0 non-null      float64
 65  Unnamed: 65     0 non-null      float64
dtypes: float64(62), object(4)
memory usage: 136.2+ KB

# Data cleaning and pre-processing

In [5]:
df_pob_modify = df_pob.copy(deep = True)

In [6]:
# Deleting columns 2020 and Unnamed: 65 because these are empty
# Delete information columns

df_pob_modify.drop(['Country Code', 'Indicator Name', 'Indicator Code', '2020', 'Unnamed: 65'], axis = 1, inplace = True)
df_pob_modify.columns

Index(['Country Name', '1960', '1961', '1962', '1963', '1964', '1965', '1966',
       '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975',
       '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019'],
      dtype='object')

In [7]:
# Convert yeas columns to two different columns (year, value)

df_pob_modify = pd.melt(df_pob_modify, id_vars=['Country Name'], var_name='Year', value_name='Population')
df_pob_modify

       Country Name  Year   Population
0             Aruba  1960     54,211.0
1       Afghanistan  1960  8,996,973.0
2            Angola  1960  5,454,933.0
3           Albania  1960  1,608,800.0
4           Andorra  1960     13,411.0
...             ...   ...          ...
15835        Kosovo  2019  1,794,248.0
15836   Yemen, Rep.  2019 29,161,922.0
15837  South Africa  2019 58,558,270.0
15838        Zambia  2019 17,861,030.0
15839      Zimbabwe  2019 14,645,468.0

[15840 rows x 3 columns]

In [8]:
# Set Year column to categorical

df_pob_modify['Year'] = df_pob_modify['Year'].astype('category')

In [9]:
df_pob_modify.dtypes

Country Name      object
Year            category
Population       float64
dtype: object

# Procesing information

In [10]:
# Creating filter

idx_filter = df_pob_modify['Country Name'].isin(['Aruba', 'Colombia'])
idx_filter

0         True
1        False
2        False
3        False
4        False
         ...
15835    False
15836    False
15837    False
15838    False
15839    False
Name: Country Name, Length: 15840, dtype: bool

In [11]:
df_filtered = df_pob_modify[idx_filter]
df_filtered

      Country Name  Year   Population
0            Aruba  1960     54,211.0
43        Colombia  1960 16,057,714.0
264          Aruba  1961     55,438.0
307       Colombia  1961 16,567,817.0
528          Aruba  1962     56,225.0
...            ...   ...          ...
15091     Colombia  2017 48,909,844.0
15312        Aruba  2018    105,845.0
15355     Colombia  2018 49,661,056.0
15576        Aruba  2019    106,314.0
15619     Colombia  2019 50,339,443.0

[120 rows x 3 columns]

# Multiple index

In [13]:
df_filtered.set_index(['Country Name', 'Year'])

                    Population
Country Name Year
Aruba        1960     54,211.0
Colombia     1960 16,057,714.0
Aruba        1961     55,438.0
Colombia     1961 16,567,817.0
Aruba        1962     56,225.0
...                        ...
Colombia     2017 48,909,844.0
Aruba        2018    105,845.0
Colombia     2018 49,661,056.0
Aruba        2019    106,314.0
Colombia     2019 50,339,443.0

[120 rows x 1 columns]

In [14]:
df_filtered = df_filtered.set_index(['Country Name', 'Year']).sort_index()
df_filtered

                    Population
Country Name Year
Aruba        1960     54,211.0
             1961     55,438.0
             1962     56,225.0
             1963     56,695.0
             1964     57,032.0
...                        ...
Colombia     2015 47,520,667.0
             2016 48,175,048.0
             2017 48,909,844.0
             2018 49,661,056.0
             2019 50,339,443.0

[120 rows x 1 columns]

## Filter mutiple index

In [15]:
df_filtered.loc['Colombia', :]

       Population
Year
1960 16,057,714.0
1961 16,567,817.0
1962 17,092,919.0
1963 17,629,978.0
1964 18,175,187.0
1965 18,725,242.0
1966 19,279,734.0
1967 19,837,508.0
1968 20,393,704.0
1969 20,942,453.0
1970 21,480,064.0
1971 22,003,983.0
1972 22,516,429.0
1973 23,024,512.0
1974 23,538,390.0
1975 24,065,502.0
1976 24,608,102.0
1977 25,164,544.0
1978 25,733,669.0
1979 26,312,996.0
1980 26,900,508.0
1981 27,496,608.0
1982 28,101,824.0
1983 28,714,183.0
1984 29,331,230.0
1985 29,951,194.0
1986 30,572,479.0
1987 31,195,417.0
1988 31,822,527.0
1989 32,457,497.0
1990 33,102,569.0
1991 33,758,328.0
1992 34,422,568.0
1993 35,091,272.0
1994 35,758,978.0
1995 36,421,438.0
1996 37,076,387.0
1997 37,723,803.0
1998 38,364,307.0
1999 38,999,468.0
2000 39,629,965.0
2001 40,255,956.0
2002 40,875,363.0
2003 41,483,872.0
2004 42,075,953.0
2005 42,647,731.0
2006 43,200,901.0
2007 43,737,512.0
2008 44,254,972.0
2009 44,750,054.0
2010 45,222,699.0
2011 45,662,747.0
2012 46,075,721.0
2013 46,495,492.0
2014 46,967,706.0
2015 47,520,667.0
2016 48,175,048.0
2017 48,909,844.0
2018 49,661,056.0
2019 50,339,443.0

In [16]:
df_filtered.loc['Colombia',:].loc['2016',:]

Population   48,175,048.0
Name: 2016, dtype: float64

In [17]:
df_filtered.xs(['Aruba'])

      Population
Year
1960    54,211.0
1961    55,438.0
1962    56,225.0
1963    56,695.0
1964    57,032.0
1965    57,360.0
1966    57,715.0
1967    58,055.0
1968    58,386.0
1969    58,726.0
1970    59,063.0
1971    59,440.0
1972    59,840.0
1973    60,243.0
1974    60,528.0
1975    60,657.0
1976    60,586.0
1977    60,366.0
1978    60,103.0
1979    59,980.0
1980    60,096.0
1981    60,567.0
1982    61,345.0
1983    62,201.0
1984    62,836.0
1985    63,026.0
1986    62,644.0
1987    61,833.0
1988    61,079.0
1989    61,032.0
1990    62,149.0
1991    64,622.0
1992    68,235.0
1993    72,504.0
1994    76,700.0
1995    80,324.0
1996    83,200.0
1997    85,451.0
1998    87,277.0
1999    89,005.0
2000    90,853.0
2001    92,898.0
2002    94,992.0
2003    97,017.0
2004    98,737.0
2005   100,031.0
2006   100,834.0
2007   101,222.0
2008   101,358.0
2009   101,455.0
2010   101,669.0
2011   102,046.0
2012   102,560.0
2013   103,159.0
2014   103,774.0
2015   104,341.0
2016   104,872.0
2017   105,366.0
2018   105,845.0
2019   106,314.0

In [19]:
df_filtered.xs(['Aruba', '2018'])

Population   105,845.0
Name: (Aruba, 2018), dtype: float64

In [22]:
df_filtered.xs('2018', level='Year')

               Population
Country Name
Aruba           105,845.0
Colombia     49,661,056.0

# Using multiple index for all data

In [23]:
df_countries = df_pob_modify.set_index(['Country Name', 'Year']).sort_index()
df_countries

                    Population
Country Name Year
Afghanistan  1960  8,996,973.0
             1961  9,169,410.0
             1962  9,351,441.0
             1963  9,543,205.0
             1964  9,744,781.0
...                        ...
Zimbabwe     2015 13,814,629.0
             2016 14,030,390.0
             2017 14,236,745.0
             2018 14,439,018.0
             2019 14,645,468.0

[15840 rows x 1 columns]

## Select slices of dataframe

In [24]:
ids = pd.IndexSlice
df_countries.loc[ids['Aruba':'Austria', '2015':'2017'],:].sort_index()

                    Population
Country Name Year
Aruba        2015    104,341.0
             2016    104,872.0
             2017    105,366.0
Australia    2015 23,815,995.0
             2016 24,190,907.0
             2017 24,601,860.0
Austria      2015  8,642,699.0
             2016  8,736,668.0
             2017  8,797,566.0

In [25]:
df_countries.index

MultiIndex([('Afghanistan', '1960'),
            ('Afghanistan', '1961'),
            ('Afghanistan', '1962'),
            ('Afghanistan', '1963'),
            ('Afghanistan', '1964'),
            ('Afghanistan', '1965'),
            ('Afghanistan', '1966'),
            ('Afghanistan', '1967'),
            ('Afghanistan', '1968'),
            ('Afghanistan', '1969'),
            ...
            (   'Zimbabwe', '2010'),
            (   'Zimbabwe', '2011'),
            (   'Zimbabwe', '2012'),
            (   'Zimbabwe', '2013'),
            (   'Zimbabwe', '2014'),
            (   'Zimbabwe', '2015'),
            (   'Zimbabwe', '2016'),
            (   'Zimbabwe', '2017'),
            (   'Zimbabwe', '2018'),
            (   'Zimbabwe', '2019')],
           names=['Country Name', 'Year'], length=15840)

In [26]:
df_countries.index.get_level_values(0)

Index(['Afghanistan', 'Afghanistan', 'Afghanistan', 'Afghanistan',
       'Afghanistan', 'Afghanistan', 'Afghanistan', 'Afghanistan',
       'Afghanistan', 'Afghanistan',
       ...
       'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe',
       'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe'],
      dtype='object', name='Country Name', length=15840)

In [27]:
df_countries.index.get_level_values(1)

CategoricalIndex(['1960', '1961', '1962', '1963', '1964', '1965', '1966',
                  '1967', '1968', '1969',
                  ...
                  '2010', '2011', '2012', '2013', '2014', '2015', '2016',
                  '2017', '2018', '2019'],
                 categories=['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', ...], ordered=False, name='Year', dtype='category', length=15840)

In [28]:
df_countries['Population']

Country Name  Year
Afghanistan   1960    8,996,973.0
              1961    9,169,410.0
              1962    9,351,441.0
              1963    9,543,205.0
              1964    9,744,781.0
                         ...
Zimbabwe      2015   13,814,629.0
              2016   14,030,390.0
              2017   14,236,745.0
              2018   14,439,018.0
              2019   14,645,468.0
Name: Population, Length: 15840, dtype: float64

In [29]:
df_countries['Population']['Colombia']

Year
1960   16,057,714.0
1961   16,567,817.0
1962   17,092,919.0
1963   17,629,978.0
1964   18,175,187.0
1965   18,725,242.0
1966   19,279,734.0
1967   19,837,508.0
1968   20,393,704.0
1969   20,942,453.0
1970   21,480,064.0
1971   22,003,983.0
1972   22,516,429.0
1973   23,024,512.0
1974   23,538,390.0
1975   24,065,502.0
1976   24,608,102.0
1977   25,164,544.0
1978   25,733,669.0
1979   26,312,996.0
1980   26,900,508.0
1981   27,496,608.0
1982   28,101,824.0
1983   28,714,183.0
1984   29,331,230.0
1985   29,951,194.0
1986   30,572,479.0
1987   31,195,417.0
1988   31,822,527.0
1989   32,457,497.0
1990   33,102,569.0
1991   33,758,328.0
1992   34,422,568.0
1993   35,091,272.0
1994   35,758,978.0
1995   36,421,438.0
1996   37,076,387.0
1997   37,723,803.0
1998   38,364,307.0
1999   38,999,468.0
2000   39,629,965.0
2001   40,255,956.0
2002   40,875,363.0
2003   41,483,872.0
2004   42,075,953.0
2005   42,647,731.0
2006   43,200,901.0
2007   43,737,512.0
2008   44,254,972.0
2009   44,750,054.0
2010   45,222,699.0
2011   45,662,747.0
2012   46,075,721.0
2013   46,495,492.0
2014   46,967,706.0
2015   47,520,667.0
2016   48,175,048.0
2017   48,909,844.0
2018   49,661,056.0
2019   50,339,443.0
Name: Population, dtype: float64

In [30]:
df_countries['Population']['Colombia']['2018']

49661056.0

In [31]:
df_countries.sum(level='Year')

           Population
Year
1960 30,672,478,767.0
1961 31,084,882,437.0
1962 31,635,995,910.0
1963 32,321,823,561.0
1964 33,013,039,759.0
1965 33,721,330,129.0
1966 34,467,033,716.0
1967 35,209,941,423.0
1968 35,966,656,352.0
1969 36,760,903,667.0
1970 37,566,537,424.0
1971 38,392,919,136.0
1972 39,209,254,894.0
1973 40,020,267,289.0
1974 40,833,908,286.0
1975 41,631,906,021.0
1976 42,417,278,512.0
1977 43,200,048,354.0
1978 43,996,356,272.0
1979 44,811,947,658.0
1980 45,637,465,534.0
1981 46,485,120,289.0
1982 47,367,632,314.0
1983 48,260,574,891.0
1984 49,152,829,361.0
1985 50,062,531,477.0
1986 50,999,525,307.0
1987 51,961,266,495.0
1988 52,933,574,350.0
1989 53,904,679,805.0
1990 54,896,113,665.0
1991 55,857,246,238.0
1992 56,790,118,713.0
1993 57,724,835,155.0
1994 58,651,348,560.0
1995 59,577,575,192.0
1996 60,490,269,348.0
1997 61,400,873,845.0
1998 62,302,426,513.0
1999 63,191,942,667.0
2000 64,074,846,120.0
2001 64,953,931,484.0
2002 65,832,344,549.0
2003 66,713,931,516.0
2004 67,600,943,592.0
2005 68,494,093,011.0
2006 69,393,616,132.0
2007 70,298,466,300.0
2008 71,215,947,992.0
2009 72,138,983,589.0
2010 73,063,619,587.0
2011 73,984,613,463.0
2012 74,921,313,476.0
2013 75,874,473,520.0
2014 76,836,487,585.0
2015 77,802,228,760.0
2016 78,776,007,940.0
2017 79,749,013,306.0
2018 80,705,148,711.5
2019 81,650,010,117.0

In [32]:
df_filtered.unstack('Year')

               Population                                                      \
Year                 1960         1961         1962         1963         1964
Country Name
Aruba            54,211.0     55,438.0     56,225.0     56,695.0     57,032.0
Colombia     16,057,714.0 16,567,817.0 17,092,919.0 17,629,978.0 18,175,187.0

                                                                               \
Year                 1965         1966         1967         1968         1969
Country Name
Aruba            57,360.0     57,715.0     58,055.0     58,386.0     58,726.0
Colombia     18,725,242.0 19,279,734.0 19,837,508.0 20,393,704.0 20,942,453.0

              ...                                                      \
Year          ...         2010         2011         2012         2013
Country Name  ...
Aruba         ...    101,669.0    102,046.0    102,560.0    103,159.0
Colombia      ... 45,222,699.0 45,662,747.0 46,075,721.0 46,495,492.0

                                                                               \
Year                 2014         2015         2016         2017         2018
Country Name
Aruba           103,774.0    104,341.0    104,872.0    105,366.0    105,845.0
Colombia     46,967,706.0 47,520,667.0 48,175,048.0 48,909,844.0 49,661,056.0


Year                 2019
Country Name
Aruba           106,314.0
Colombia     50,339,443.0

[2 rows x 60 columns]

In [34]:
df_filtered.unstack('Country Name')

             Population
Country Name      Aruba     Colombia
Year
1960           54,211.0 16,057,714.0
1961           55,438.0 16,567,817.0
1962           56,225.0 17,092,919.0
1963           56,695.0 17,629,978.0
1964           57,032.0 18,175,187.0
1965           57,360.0 18,725,242.0
1966           57,715.0 19,279,734.0
1967           58,055.0 19,837,508.0
1968           58,386.0 20,393,704.0
1969           58,726.0 20,942,453.0
1970           59,063.0 21,480,064.0
1971           59,440.0 22,003,983.0
1972           59,840.0 22,516,429.0
1973           60,243.0 23,024,512.0
1974           60,528.0 23,538,390.0
1975           60,657.0 24,065,502.0
1976           60,586.0 24,608,102.0
1977           60,366.0 25,164,544.0
1978           60,103.0 25,733,669.0
1979           59,980.0 26,312,996.0
1980           60,096.0 26,900,508.0
1981           60,567.0 27,496,608.0
1982           61,345.0 28,101,824.0
1983           62,201.0 28,714,183.0
1984           62,836.0 29,331,230.0
1985           63,026.0 29,951,194.0
1986           62,644.0 30,572,479.0
1987           61,833.0 31,195,417.0
1988           61,079.0 31,822,527.0
1989           61,032.0 32,457,497.0
1990           62,149.0 33,102,569.0
1991           64,622.0 33,758,328.0
1992           68,235.0 34,422,568.0
1993           72,504.0 35,091,272.0
1994           76,700.0 35,758,978.0
1995           80,324.0 36,421,438.0
1996           83,200.0 37,076,387.0
1997           85,451.0 37,723,803.0
1998           87,277.0 38,364,307.0
1999           89,005.0 38,999,468.0
2000           90,853.0 39,629,965.0
2001           92,898.0 40,255,956.0
2002           94,992.0 40,875,363.0
2003           97,017.0 41,483,872.0
2004           98,737.0 42,075,953.0
2005          100,031.0 42,647,731.0
2006          100,834.0 43,200,901.0
2007          101,222.0 43,737,512.0
2008          101,358.0 44,254,972.0
2009          101,455.0 44,750,054.0
2010          101,669.0 45,222,699.0
2011          102,046.0 45,662,747.0
2012          102,560.0 46,075,721.0
2013          103,159.0 46,495,492.0
2014          103,774.0 46,967,706.0
2015          104,341.0 47,520,667.0
2016          104,872.0 48,175,048.0
2017          105,366.0 48,909,844.0
2018          105,845.0 49,661,056.0
2019          106,314.0 50,339,443.0